@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-layout($colums, $gap) {
    display: grid;
    grid-template-columns: repeat($colums, 1fr);
    gap: $gap;
}